@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,900;1,800&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html{
    scroll-behavior: smooth;
}

body
{
    margin:0px;
    font-family: 'Poppins', sans-serif;
    
    
}
*{
    box-sizing: border-box;
    margin: 0px;
}
.container
{
    max-height: 800px;
    
    margin: auto;
    
}
.row
{
    display: flex;
    flex-wrap: wrap;
    
}
header .row
{
    justify-content: space-between;
    align-content: center;
}
header.fixed{
    background-color: #ffffff;
    position:fixed;
    border-color: #eeeeee;
    animation: fixheader .5s ease;
    z-index: 11;
}
@keyframes fixheader{
    0%{
        transform: translateY(-100%);
    }
    100%{transform: translateY(-%);}
}




header .navbar ul
{
    list-style: none;
    padding: 0px;
    margin: 9px;
    
    
}
header .navbar ul li
{
    display: inline-block;
    padding-left: 15px;
}
header .navbar ul li a
{
    font-size: 25px;
    text-decoration: none;
    line-height: 72px;
    color: black;
    font-weight: 600;
    display: inline-block;
    position: relative;
}
header .navbar ul li a::before
{
    content: '';
    height: 3px;
    background-color:#ffffff ;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom:-9px;
    transition:  all 0.1s  ease;
}
header.fixed .navbar ul li a{
    color: #000;
}
header.fixed .navbar ul li a::before{
    background-color: #fedb01;
}










header .navbar ul li a:hover:before{
    width: 100%;
    right: 0;
}

header
{
    
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 0.5px solid #423940 ;
    padding: 0px 15px ;
    z-index: 10;
    
}

.home
{
    min-height: 100vh;
    background-image: url(sale_23502_primary_image_wide-796x398.jpg);
    background-size: cover;
    background-position:center;
    padding: 15px;
    
}
.home .full
{
    
    min-height: 100vh;
    
}
.home .homecontainer
{
    
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    
}
.home  .homecontainer .block
{
    
    flex: 0 0 75%;
    
    max-width: 75%;
    padding-left: 5px;
    
    border-left: 2px solid black;
}
.home  .homecontainer .block h6{
    color: black;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-left: 50px;text-shadow: 1px 2px 5px rgba(0,0,0,.5);
    
}
.home  .homecontainer .block h1
{
    color: black;
    font-size: 60px;text-shadow: 1px 2px 5px rgba(0,0,0,.5);
    font-weight: 700;font-family: monospace;
    padding: 0;
    padding-left: 50px;
    margin: 0 ;
   
}
.home  .homecontainer .block h3
{
     color: black;
    font-size: 30px;
    font-weight: 600;text-shadow: 1px 2px 5px rgba(0,0,0,.5);
    padding: 0;
    padding-left: 50px;font-family: monospace;
    margin: 0 ;
    margin-bottom: 10px;
    margin-top: 5px;
    
}

.home .homecontainer .block .quote h3 span {
    color:#fff;
    background-color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: cursive;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border: 1px solid black;border-radius: 10px;text-align:center;
    text-shadow: 3px solid black;
    box-shadow: 2px solod grey;
    
}
.home .homecontainer .block .quote h3 span:hover{
    color: #fedb01;
   
    background-color: #000;
}

.home .homecontainer .block .quote h3 span{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    animation: n 3s infinite normal;
}
@keyframes n{
    0%{opacity: 0;
    }
    100%{opacity: 1;}
}
















.home .homecontainer .block .cvbtn a{
    border-radius: 8px;
    color: #ffffff;
  
    padding: 10px 20px;
    text-decoration: none;

    font-size: 14px;
    border-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all  .5s ease;
    background-color: #fedb01;
    box-shadow: 0px 10px 15px #e8e8e8;
 
    
}

.home .homecontainer .block .cvbtn a:hover{
    background-color:#000000 ;
    
    color: #ffffff;
}
.home .homecontainer .block .cvbtn{

    flex: 0 0 100%;
    max-width: 100%;margin-left: 70px;padding-top: 20px;
}







.aboutme{
    
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    background-color: white;
    
}

.aboutme .sectiontitle p{
   
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: #838383;
    
}
.textupper{
    text-transform: uppercase!important;
}

.aboutme .aboutcontent .img{
    flex: 0 0 33.33%;
    min-width: 33.33%;
}
.aboutme .aboutcontent .img img{
    width: 100%;
    display: block;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}
.aboutme .aboutcontent .text{
    
    flex:0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
    
}
.aboutme .aboutcontent .text h6{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 5px;
    color: #000000;
}
.aboutme .aboutcontent .text h4{
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 15px;
}
.aboutme .aboutcontent .text h6 span{
    color: #1eafa2c7;
    
}
.aboutme .aboutcontent .text p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    
}
.aboutme .aboutcontent .text .info{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.aboutme .aboutcontent .text .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50%-15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
}
.aboutme .aboutcontent .text .info .list p{
    margin: 0;
    padding-bottom: 0px;
    font-size: 20px;
    
}
.aboutme .aboutcontent .text .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}
.aboutme .aboutcontent .text .sociallinks{
  
    padding-top: 30px;
    
}
.aboutme .aboutcontent .text .sociallinks a{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 11px;
    
    border:  1px solid #000;
    line-height: 24px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
}
.aboutme .aboutcontent .text .sociallinks a:hover{
     background-color: transparent;
    
}
.aboutme .aboutcontent .text .sociallinks a:hover:fa{
    color: #000000;
   
    
}
.aboutme .aboutcontent .text .sociallinks a .fa{
    color: white;
    font-size: 12px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}



.sectiontitle{
    margin-bottom: 40px;
    flex: 0 0 100%;
    max-width: 100%;
    
    
}
 .sectiontitle h1{
    font-size: 40px;
    text-transform: uppercase;  
    font-weight: 700;
    margin: 0 0 5px;
    color: black;
    padding-bottom: 0px;
    display: inline-block;
    position: relative;
    
}
.sectiontitle h1:before{
    content:'';
    left: 20%;
    right: 20%;
    bottom: 0px;
    height: 4px;
    position: absolute;
    background-color: #febd01;
}
.text{
text-align: center!important;
    
}
.textleft{
    text-align: left!important;
    
}
.textright{
    text-align: right!important;
}





.services {
    padding-top: 90px;
    padding-bottom:  50px;
    padding-left:  30px;
    padding-left: 30px;
    background-color: #f5f8fd;
}


.services .servicecontent{
    
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.services .servicecontent .box{
    
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 30px;
    text-align:center;
    position: relative;
}
.services .servicecontent .box .icon{
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 0 auto 20px;
    border-radius: 50%;     
    line-height: 60px;
    text-align: center;  
    color:#ffffff;  
    font-size: 25px;
    line-height: 60px;
}
.services .servicecontent .box::before {
    content: '';
    right: 0;
    left: 0;
    transition: all 0.5s ease;
    margin: auto;
    height: 2px;
    background-color:  #febd01;
    position: absolute;
    bottom: 0px;
    width: 60px;
    
}
.services .servicecontent .box:hover:before {
    width: 100%;
}
.servicecontent .box h5{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}
.servicecontent .box p{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0 ;
}



/*skills */ 


.skills{
    padding: 10px 15px;
    background-color: #ffffff;
}
.skills .skillcontent .sectiontitle h1{
    
   font-size: 40px;
    margin-top: 0px;
    margin-left: 40px;
    
}
.skills .container{
    margin-top: 10px;padding-top: 10px;
}
.skills .container  {
    margin-top: 10px;padding-top: 10px;
}
.skills  .skillcontent{

    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}
.skills .img{

    flex: 0 0 50%;
    max-width: 100%;
}
.skills .img img{
    width: 100%;
    display: block;padding: 100px;margin-right: 30px;
    flex: 0 0 100%;
}
.align{
    align-items: center;
}
.skills .skillcontent .sectiontitle p{
    font-size:20px;
    font-weight: 500;
    line-height: 24px;
    color: #838383;
    margin-top: 10px;
    margin-left: 30px;
}
.skills .skillcontent .skillbox {
    padding-left: 20px;
    flex: 0 0 100%;
    max-width:   100%;  margin-right: 30px;

    margin-bottom: 60px;
    
}
.skills .skillcontent .skillbox h6{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color:black ;
    margin: 0 0 8px;
    
    
}
.skills .skillcontent .skillbox .skillbar{
    height: 6px;
    background-color: #eeeeee;
    position: relative;
    
    
    
}
.skills .skillcontent .skillbox .skillbar .skillbarin{
    background-color: #febd01;
    position: absolute;
    left: 0;
    top: 5px;
    height: 100%;
    display: inline;
    font-size: 20px;
    padding-top: 10px;
}
.skills .skillcontent .skillbox .skillbar .skillbarin span{
    color: #838383;
    font-size: 16px;
    position: absolute;
    top: -30px;
    right: 0;
    
    font-weight: 500;
}




/* portfolio */

.portfolio {
    background-color: #f5f8fd;
    padding: 100px 80px;
    
}
.portfolio . sectiontitle h1{
    left: 30%;
}

.portfolio .filterbutton{
  
    flex: 0 0 100%;
    max-width: 100%;
    
}
.portfolio .filterbutton ul{
    list-style:none;
 
    text-align-last: center;
    padding: 0;
}
.portfolio .filterbutton ul li{
    
    display: inline-block;
    margin: 0px 8px;
    color: #000000;
    font-size: 16px;
    font-weight: 500;   
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.portfolio .filterbutton ul li.active{
    color: #febd05;
    border-bottom: 2px solid #febd01;
}

.portfolio .filterbutton{
    margin-bottom: 15px;
}
.portfolio .portfoliogallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
    
}

.portfolio .portfoliogallery .item{
    
    flex: 0 0 33.33% ;
    max-width: 33.33% ;
    padding: 10px;
   
    position: relative;
    
    
}
.portfolio .portfoliogallery .item {
    position: relative;
}
.portfolio .portfoliogallery .item img{
    width: 50%;display: block;
    
}
.portfolio .portfoliogallery .item .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    right: 0;padding: 0px;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex; flex-wrap: wrap;
    flex-direction: column;
   
    align-content: center;
    transition: all 0.5s ease;
    justify-content: center;
    
}
.portfolio .portfoliogallery .item:hover {
   padding: 0px;
}








.message{
    background-color: #0c0c17;
    padding: 40px 0px;
    
}
.message .text{

    max-width: 66.66%;
    
    flex: 0 0 66.66%;
}
.message .text h2{
    padding: 0;
    line-height: 36px;
    
    font-size: 26px;
    font-weight: 500;
    color: white;
    margin: 0;
    
}
.message .button{
    flex: 33.33%;
    max-width: 33.33%;
    align-content: center;

}

.message .button a{
    border-radius: 8px;
    color: white;
    border: 5px solid white;
    padding: 8px 25px;
    margin-left: 60px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    transition: all .5s ease;
}
.message .button a:hover{
    background-color: #ffffff;
    color: #000000;
}





.contact {
    padding: 100px ;
    background-color: #f5fdfd;
    
    
}
.contact .sectiontitle h1:before{
    left: 30%;
    
}
.contact .contactform{
    background-color: #ffffff;
    flex: 0 0 100%;
    padding-left: 40px;
    max-width: 100%;
    border: 1px solid #eeeeee;padding: 20px;
    border-radius: 15px;
}
.contact .contactform .text{
    
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 20px;
}
.contact .contactform .text h2{
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}
.contact .contactform .text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #838383;
    margin: 0px;
    
}

.contact .contactform .col6{
    flex:0 0 100% ;
    max-width: 100%;text-align: center;
    
}
.contact .contactform .col12{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.contact .contactform .formcontrol1{
    height: 45px;
    width: 100%; 
    border-radius: 8px;
    display: flex; 
    flex: 0 0 100%; 
    column-gap: 10px;
    max-width: 100%;  
    margin-bottom: 15px; 
    border: 1px solid #ced4da;  
    padding: 8px;
    
    font-size: 14px;
    font-weight: 500;
    font-family: 'poppins',sans-serif;
}
.contact .contactform .formcontrol{
    height: 45px;
    width: 100%; 
    border-radius: 8px;
    display: flex; 
    flex: 0 0 100%; 
    column-gap: 10px;
    max-width: 100%;  
    margin-bottom: 15px; 
    border: 1px solid #ced4da;  
    padding: 8px;
    
    font-size: 14px;
    font-weight: 500;
    font-family: 'poppins',sans-serif;
}
.contact .contactform textarea.formcontrol {
    height: 120px;
}
.contact .contactform .formcontrol::placeholder{
    color: #838383;
}
.contact .contactform .btn a{
    border-radius: 8px;
    color: #ffffff;
  
    padding: 10px 20px;
    text-decoration: none;

    font-size: 14px;
    border-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all  .5s ease;
    background-color: #fedb01;
    box-shadow: 0px 10px 15px #e8e8e8;
 
    
}

.contact .contactform .btn a:hover{
    background-color:#000000 ;
    
    color: #ffffff;
}
.contact .contactform .btn{
    
    flex: 0 0 100%;
    max-width: 100%;
}






footer{
    padding: 50px 15px;
    background-color: black;
}
footer .logo{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    font-weight: 900;
    
}
footer .text:hover{
    color: #099999;
}

footer .text{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    animation: in 2s infinite normal;
}
@keyframes in{
    0%{opacity: 0;
    }
    100%{opacity: 1;}
}




@media(max-width: 991px){
    .home .homecontainer .block  h1{
        font-size: 50px;
    } 
    .message .button{
        margin-top: 20px;
        margin-left: 100px;
    }
     header{
        padding: 15px;
        position: fixed;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #eee;
    } 
     .navbar {
        position: absolute;
        background-color: #fff;
        width: 100%;
        font-size: 10px;display: flex;
        flex: 0 0 50%;
        max-width: 100%;
        left: 0px;
        top: 0px;
        padding: 15px;
        
    }
    
    header .navbar ul li {
        display:inline-block;
        margin-left: 0px;
        flex: 0 0 50%;
        max-width: 100%;
    }
    header .navbar ul li a{
        line-height: 42px;display: flex;
        flex: 0 0 50%;
        max-width: 100%;
        color: #000;
        font-weight: 500;font-size: 18px;margin-bottom: 2px;
       
    }
     header .navbar ul li a::before{
        background-color: #fedb01;
    }
    header .navbar ul li a::before
    {

    bottom:3px;
    }
    .skills .skillcontent  .sectiontitle h1{
        padding-top: 0px;font-size: 29px;
        margin-top: 0px;
    }
    .skills .img{

    flex: 0 0 50%;
    max-width: 100%;
}
.skills .img img{
    width: 100%;
    display: block;padding: 10px;margin-right: 30px;
    flex: 0 0 100%;
}
    
}

@media(max-width: 900px){
       header{
        padding: 15px;
        position: fixed;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #eee;
    } 
     .navbar {
        position: absolute;
        background-color: #fff;
        width: 100%;
        font-size: 10px;display: flex;
        flex: 0 0 50%;
        max-width: 100%;
        left: 0px;
        top: 0px;
        padding: 15px;
        
    }
    
    header .navbar ul li {
        display:inline-block;
        margin-left: 0px;
        flex: 0 0 50%;
        max-width: 100%;
    }
    header .navbar ul li a{
        line-height: 42px;display: flex;
        flex: 0 0 50%;
        max-width: 100%;
        color: #000;
        font-weight: 500;font-size: 18px;margin-bottom: 2px;
       
    }
     header .navbar ul li a::before{
        background-color: #fedb01;
    }
    header .navbar ul li a::before
    {

    bottom:3px;
    }
    .skills .skillcontent  .sectiontitle h1{
        padding-top: 0px;font-size: 29px;
        margin-top: 0px;
    }

}










@media(max-width: 767px){
    .home .homecontainer .block  h1{
        font-size: 40px;
    }
    .home .homecontainer .block h3{
        font-size: 25px;
    }
    header{
        padding: 15px;
        position: fixed;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #eee;
    }
    .home  .homecontainer .block h6{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    padding-left: 50px;text-shadow: 1px 2px 5px rgba(0,0,0,.5);
    
}
    .navbar {
        position: absolute;
        background-color: #fff;
        width: 100%;
        font-size: 10px;display: flex;
        flex: 0 0 50%;
        max-width: 100%;
        left: 0px;
        top: 0px;
        padding: 15px;
        
    }
    
    header .navbar ul li {
        display:inline-block;
        margin-left: 0px;
        flex: 0 0 50%;
        max-width: 100%;
    }
    header .navbar ul li a{
        line-height: 42px;display: flex;
        flex: 0 0 50%;
        max-width: 100%;
        color: #000;
        font-weight: 500;font-size: 18px;margin-bottom: 2px;
       
    }
   
    header .navbar ul li a::before{
        background-color: #fedb01;
    }
    header .navbar ul li a::before
    {

    bottom:3px;
    }
    
    
    
    
    
    
    .aboutme .sectiontitle h1{
        font-size: 30px;flex: 0 0 100%;
        max-width: 100%:
    }
    .aboutme .sectiontitle p{
        font-size: 30px;
    }
    .aboutme .aboutcontent .text{
        flex: 0 0 100%;
        max-width: 100%; font-size: 20px;
        padding-left: 0px;   
        padding-top: 20px;
    }
    .aboutme .aboutcontent  .img img {
        flex: 0 0 100%;
        max-width: 100%;margin-top: 0px;
    }
    .aboutme .aboutcontent .text h4{
       
        font-size: 15px;
    }
    .aboutme .aboutcontent .text h6{
        
        font-size: 12px;
    }
    .aboutme .aboutcontent .text p{
        font-size: 12px;
    }
    
    
    
    
    
    
    
    
    .services{
        padding-right: 20px;
        padding-left: 20px;margin-bottom: 40px;
        padding-bottom: 850px;
        padding-top: 50px;background-color: #f5f8fd;
    }
    .skills .img img{
       display: none;
        
    }
    .skills .skillcontent  .sectiontitle h1{
        padding-top: 0px;font-size: 29px;
        margin-top: 0px;
    }
    .skills .skillcontent  .sectiontitle p{
        font-size: 20px;
    }
    .skills .skillcontent .skillbox .skillbar{
        padding-right: 20px;
        padding-left: 20px;
        
    }
    .services .servicecontent .box{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px;
        background-color: #ffffff;
    }
    .skills .skillcontent {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 10px;
    }
    .skills .img{
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    
    
    
    .portfolio {
    background-color: #f5f8fd;
    padding: 100px 80px;
    
}
    .portfolio .portfoliogallery .item {
        flex: 0 0 50%;
        max-width: 100%;
        position: relative;
        padding: 10px;
    }
    .portfolio .portfoliogallery .item img{
        width: 50%;
        display: block;
    }
    message .text{
        flex: 0 0 50%;padding-left: 20px; padding-right: 20px;margin-right: 10px;
        max-width: 100%;
    }
    .message .button{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left;
        padding-top: 20px;margin-top: 20px;margin-left: 50px;
    }
    .contact .contactform{
        padding: 40px 20px ;
        
    }
    .contact .contactform .col6{
        
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .contact .sectiontitle h1{
        padding-left: 60px;
    }
    .home .homecontainer .block .cvbtn a
{
    border-radius: 8px;
    color: white;
    border: 2px solid white;
    padding: 8px 20px;
    margin-left: 40px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    background-color: black;
    font-weight: 600;
    font-size: 14px;
    transition: all .5s ease;
}
    .home .homecontainer .block .cvbtn a:hover{
        background-color: black;
        color: #febd01;
        font-weight: 600;
    font-size: 14px;
         border: 2px solid black;
    }   
    
    
}













@media(max-width: 500px){
    .home .homecontent .block  h1{
        font-size: 30px;
    }
    .home .homecontainer .block h3{
        font-size: 20px;
    }
    .home .homecontent .block {
        padding-left: 20px;
        
    }
    .portfolio .portfoliogallery .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .aboutme{
        padding-bottom: 330px;
    }
    .aboutme .aboutcontent .text .info .list p{
        
        flex: 0 0 100%
    }
    .aboutme .aboutcontent .text h4{
       
        font-size: 15px;
    }
    .aboutme .aboutcontent .text h6{
        
        font-size: 20px;
    }
     .aboutme .sectiontitle h1{
        font-size: 20px; flex: 0 0 100%;
         max-width: 100%;margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .aboutme .sectiontitle p{
        font-size: 15px;flex: 0 0 100%;
         max-width: 100%;margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .aboutme .aboutcontent .img{
        flex: 0 0 100%;
        max-width: 100%;margin-top: 0px;padding-top: 0px;border: none;
    }
    .aboutme .aboutcontent .row .text .info .list label{
        font-size: 10px;
        flex: 0 0 50%;display:inline;
        padding-right: 0px;
        max-width: 100%;
    }
    .aboutme .aboutcontent .row .text .info .list p{
        font-size: 10px;flex: 0 0 10%;
        max-width: 100%;display: inline;
        padding-bottom: 0px;margin-bottom: 0px;
    }
    
    
    .portfolio {
    background-color: #f5f8fd;
    padding: 100px 80px;
    
}
    .portfolio .portfoliogallery .item {
        flex: 0 0 50%;
        max-width: 100%;
        position: relative;
        padding: 10px;
    }
    .portfolio .portfoliogallery .item img{
        width: 50%;
        display: block;
    }
}





/* CV */


html{
    background-color:transparent;
}
.CV{
     margin-left:30px;
    padding-left: 30px;
    
    font-family: 'Poppins', sans-serif;
}


.CV .container
{
    max-height: 800px;
   
    margin: 20px;
    
}


.CV .container .text{
    
    flex:0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
    
    
}
.CV .container .text h1{
    font-size: 60px;
    font-weight: 700;
    font-family: monospace;
    padding-bottom: 10px;
    text-shadow: 2px 5px 1px rgba(0,0,0,.5);
}

.CV .container .text h3{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.CV .container .text p{
    font-size: 18px;
    font-weight: 500;
    color: #1eafa2c7;
    padding-bottom: 40px;
}








.CV .container  .info{
    
    display: flex;
    flex: 0 0 50%;
    max-width: 100%;
    display: block;
   
    
    
}
.CV .container .info .list{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50%-15px);
    margin-top: 10px;
    display: block;
    flex-wrap: wrap;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 10px;
}
.CV .container .info .list .education{
    padding-bottom: 30px;
    text-align: left;
}

.CV .container .info .list p{
    margin: 0;
    padding-bottom: 0px;
    font-size: 20px;
    
}
.CV .container .info .list label{
    padding-right: 10px;
    color: #000000;
    font-weight: 500;
    font-size: 40px;
    padding-left: 0px;
    margin-left: 0px;
}
.CV .container .info .list .co{
    font-size: 30px;color: white;
    font-weight: 500;
    text-align: left;padding-bottom: 20px;
    margin-bottom: 30px;
    
}
.CV .container .info .list .co h7{
font-size: 20px;
    font-weight: 400;
    color: #1eafa2c7;
    text-decoration: none;
    
}

.CV .container .info .list  .skills{
    text-align-last: left;
    font-size: 30px;
    font-weight: 500;
    background-color: #f5f5f5;
}

.CV .container .info .list  .skills span{
    font-size: 19px;
    font-weight: 400;
    color: #1eafa2c7;
    
}
.CV .container .info .list  .skills h3{
    font-size: 25px;
    font-weight: 500;
    padding-top: 10px;
}
.CV .container .info .list  .skills span{
    font-size: 18px;
    font-weight: 400;
    color:  #1eafa2c7;
}
.CV .container .info .list  .hobb{
  
     text-align: left;
   
    
}
.CV .container .info .list  .hobb label{
    font-size: 40px;
    font-weight: 500;padding-bottom: 10px;
    
}
.CV .container .info .list  .hobb h8{
   font-size: 19px;
    font-weight: 400;
    color: #1eafa2c7;line-height: 20px;
    padding-top: 10px;
}


.CV .container .img{
    flex: 0 0 33.33%;
    min-width: 33.33%;
}
.CV .container .img img{
    width: 100%;
    display: inline-block;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    border-radius: 50%;
    border: 5px solid darkgrey ;
    box-shadow: 2px 1px 5px rgba(0,0,0,.5);
    animation: glow 2s 2 ease;
    animation-delay: 1s;
    
  
}

@keyframes glow{
    0%{
        transform: translateY(-50px),rotateZ(180deg);
    }
    50%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(80px), translateX(10px),rotateZ(180deg);
    }
    
}




